{
  "platform": {
    "enabled": true,
    "runtimeVersion": "~1"
  },
  "globalValidation": {
    "requireAuthentication": true,
    "unauthenticatedClientAction": 0,
    "redirectToProvider": "azureactivedirectory"
  },
  "identityProviders": {
    "azureActiveDirectory": {
      "enabled": true,
      "registration": {
        "openIdIssuer": "https://sts.windows.net/${TENANT_ID}/v2.0",
        "clientId": "${CLIENT_ID}",
        "clientSecretSettingName": "MICROSOFT_PROVIDER_AUTHENTICATION_SECRET"
      },
      "login": {
        "loginParameters": [
          "scope=openid profile email offline_access"
        ],
        "disableWWWAuthenticate": false
      },
      "validation": {
        "allowedAudiences": [
          "api://${CLIENT_ID}"
        ]
      },
      "isAutoProvisioned": true
    },
    "facebook": {
      "enabled": true
    },
    "gitHub": {
      "enabled": true
    },
    "google": {
      "enabled": true
    },
    "twitter": {
      "enabled": true
    },
    "legacyMicrosoftAccount": {
      "enabled": true
    },
    "apple": {
      "enabled": true
    }
  },
  "login": {
    "tokenStore": {
      "enabled": true,
      "tokenRefreshExtensionHours": 72
    },
    "preserveUrlFragmentsForLogins": false,
    "cookieExpiration": {
      "convention": 0,
      "timeToExpiration": "08:00:00"
    },
    "nonce": {
      "validateNonce": true,
      "nonceExpirationInterval": "00:05:00"
    }
  },
  "httpSettings": {
    "requireHttps": true,
    "routes": {
      "apiPrefix": "/.auth"
    },
    "forwardProxy": {
      "convention": 0
    }
  },
  "legacyProperties": {
    "configVersion": "v2",
    "legacyVersion": "V2"
  }
}
